$text-primary: #000;
$text-secondary: #a2a0a0;

$accent-primary: #0070f0;
$accent-primary-h: #0055b7;
$accent-done: #006908;
$accent-tertiary: #e1e0e0;

$background-primary: #f6f7f8;
$background-secondary: #fff;
$background-done: #d7f7c2;

$h1-font-size:   40px;
$h2-font-size:   24px;

$font-size-lg:   24px;
$font-size-md:   12px;
$font-size-sm:   8px;

$font-size-md-d:   20px;
$font-size-sm-d:   12px;

$font-size-base: 16px;